
body {
	width: 80%;
	font-family: sans-serif;
	margin: auto;
}

.passwords {
	li {
		border: lightgray 1px double;
		padding: 0.5em;
		display: inline-block;
		margin-right: 1em;
		vertical-align: middle;
		text-align: center;
		border-radius: 10px 0;
		margin-bottom: 1em;
		background-image: -moz-radial-gradient(farthest-corner, white 80%, lightgray 100%);
	}
	li:last-child {
		margin-left: 3em;
		width: 10em;
		color: white;
		background-color: green;
		background-image: none;
		text-shadow: 2px 1px #888;
		border-radius: 1px;
		border: solid 1px darkgreen;
		a {
			color: white;
			text-decoration: none;
		}
	}
}